# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e0zxq.eu-west-3.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username={{username}}
sasl.password={{password}}

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-1w11j.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=H7DDPPV6B5HEY3IU:pfhnZwg4JjXorkLPuLcfLDInZkqtibXOClMBTTcIRfWAQs53xzOQeCxo4O2rutO0



